<button
  *ngIf="isSmallScreen"
  class="btn-close text-light position-absolute top-0 end-0 m-2"
  (click)="sideNavOpened = false"
></button>

<div class="text-center my-2">
  <img src="assets/images/angular.svg" width="50%" alt="angular" />
</div>
<div class="list-group m-2">
  <a
    class="list-group-item list-group-item-action"
    [routerLink]="['/', '25eb6432d2249225cc121f18719c5215']"
    routerLinkActive="active"
  >
    Component lifecycle methods
  </a>
</div>
<div
  *ngIf="isSmallScreen && sideNavOpened"
  class="offcanvas-backdrop fade show"
></div>
