<div class="d-flex h-100">
  <app-side-nav
    class="position-relative h-100"
    [class.w-25]="!isSmallScreen"
    [isSmallScreen]="isSmallScreen"
    [sideNavOpened]="sideNavOpened"
    (sidenav_closed)="sideNavOpened = false"
  ></app-side-nav>

  <div
    class="position-relative h-100"
    [ngClass]="{
      'w-75': sideNavOpened,
      'w-100': !sideNavOpened || isSmallScreen
    }"
  >
    <app-menu-btn
      *ngIf="isSmallScreen"
      (click)="sideNavOpened = !sideNavOpened"
    ></app-menu-btn>

    <div class="h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
